<a href="https://colab.research.google.com/github/lcbjuk/IBMEC/blob/master/IBMEC_Extras1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 
**Lista Extra Zero**

1) Calcule a nota final, sabendo que AP1 e AP2 tem peso 40% e AP3 tem peso 20%

In [0]:
def nota_final(ap1,ap2,ap3):
  return ap1*0.4 + ap2*0.4 + ap3 *0.2

nota_final(10,9,8)

9.2

2) Calcule a nota como conceito, com sendo A (maior que 9), B (entre 7 e 9), D (entre 5 e 7), F (abaixo disto)

In [0]:
def nota_conceito(nota):
  if(nota>=9):
    conceito = 'A'
  elif(nota<9 and nota>=7):
    conceito = 'B'
  elif(nota<7 and nota>=5):
    conceito = 'D'
  else:
    conceito = 'D'
  return conceito

nc = nota_conceito(9.5)
nc

'A'

3) Calcule a maior nota da turma com as seguintes notas: 7, 6, 9, 9, 8, 8, 10, 5, 6 e 7

In [0]:
def maior_nota(notas):
  maior = 0
  for i in range(0,len(notas),1):
    if(notas[i] > maior):
      maior = notas[i]
  return maior

notas = [7,6,9,9,8,8,10,5,6,7]
m = maior_nota(notas)
m

10

4) Calcular o imposto de renda devido com base no salário anual e regra da Receita Federal

In [0]:
# arredondei alguns numeros do enunciado original...
def IRPF(salario):
  if (salario <= 1500):
    imposto = 0
  elif(salario>1500 and salario<= 2246):
    imposto = salario * 0.075 - 112
  elif(salario>2246 and salario<= 2295):
    imposto = salario * 0.15 - 280
  elif(salario>2295 and salario<= 3745):
    imposto = salario * 0.225 - 505
  else:
    imposto = salario * 0.275 - 692
  return imposto

print(IRPF(1050))
print(IRPF(3500))
print(IRPF(9000))

0
282.5
1783.0

**Lita Extra 1**

1)​ Faça um Programa que peça a temperatura em graus Farenheit, transforme e mostre a temperatura em graus
Celsius.

C = (5 * (F-32) / 9).

In [0]:
def FtoC(f):
  c = (5 * (f-32) / 9)
  return c

cemFemC = FtoC(100)
print(cemFemC)

37.77777777777778

2)​ Tendo como dado de entrada a altura (h) de uma pessoa, construa um algoritmo que calcule seu peso ideal, utilizando as seguintes fórmulas:

a. Para homens: (72.7*h) - 58

b. Para mulheres: (62.1*h) - 44.7

In [0]:
def peso_ideal(altura, genero):
  if (genero == 'M'):
    peso = (72.7*altura) - 58
  else:
    peso = (62.1*altura) - 44.7
  return peso

joao = peso_ideal(1.65,'M')
print(joao)
maria =peso_ideal(1.65,'F')
print(maria)

61.955
57.765

3)​ Faça um Programa que, para uma lista de salários de seus funcionários, calcule e mostre o total do seu
salário no referido mês, sabendo-se que são descontados 11% para o Imposto de Renda, 8% para o INSS e 5% sindicato, faça um programa que nos dê:

a. salário bruto.

b. quanto pagou ao INSS.

c. quanto pagou ao sindicato.

d. o salário líquido.

e. calcule os descontos e o salário líquido, conforme a tabela abaixo:

f. + Salário Bruto : R$ 

g. - IR(11 %) : R$

h. - INSS (8%) : R$

i. - Sindicato ( 5%) : R$

= Salário Líquido: R$

**Salários (R$): [1050, 2000, 3500, 5000, 7000, 10000, 20000]**

In [0]:
def salarios_liquidos():
  sal = [1050, 2000, 3500, 5000, 7000, 10000, 20000]
  for i in range (0,7,1):
    ir = sal[i] * 0.11
    inss = sal[i] * 0.08
    sind = sal[i] * 0.05
    liq = sal[i] - ir - inss - sind
    print('BRUTO: ', sal[i] , 'IR: ', ir, 'INSS: ', inss, 'Sind.: ', sind, 'LIQUIDO', liq)

salarios_liquidos()

BRUTO:  1050 IR:  115.5 INSS:  84.0 Sind.:  52.5 LIQUIDO 798.0
BRUTO:  2000 IR:  220.0 INSS:  160.0 Sind.:  100.0 LIQUIDO 1520.0
BRUTO:  3500 IR:  385.0 INSS:  280.0 Sind.:  175.0 LIQUIDO 2660.0
BRUTO:  5000 IR:  550.0 INSS:  400.0 Sind.:  250.0 LIQUIDO 3800.0
BRUTO:  7000 IR:  770.0 INSS:  560.0 Sind.:  350.0 LIQUIDO 5320.0
BRUTO:  10000 IR:  1100.0 INSS:  800.0 Sind.:  500.0 LIQUIDO 7600.0
BRUTO:  20000 IR:  2200.0 INSS:  1600.0 Sind.:  1000.0 LIQUIDO 15200.0

***Desafios***

Desafio 1)​ Desenvolva um gerador de tabuada, capaz de gerar a tabuada de qualquer número inteiro entre 1 a 10. O usuário deve informar de qual numero ele deseja ver a tabuada. A saída deve ser conforme o exemplo abaixo:

*A solucao para o enunciado seria uma laco/loop unico*

In [0]:
def tabuada_de(n):
  for i in range(1,10,1):
    print(n , ' x ' , i , ' = ', i*n)

tabuada_de(5)

5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45

*Uma variacao para o desafio seria calular todas tabuadas, o que demandaria um laco dentro de outro laco*

In [0]:
def tabuada():
  for i in range(1,10,1):
    print('\n Tabuada do ' , i)
    for j in range(1,10,1):
      print(i , ' x ' , j , ' = ', i*j)

tabuada()

 Tabuada do  1
1  x  1  =  1
1  x  2  =  2
1  x  3  =  3
1  x  4  =  4
1  x  5  =  5
1  x  6  =  6
1  x  7  =  7
1  x  8  =  8
1  x  9  =  9

 Tabuada do  2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18

 Tabuada do  3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27

 Tabuada do  4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36

 Tabuada do  5
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45

 Tabuada do  6
6  x  1  =  6
6  x  2  =  12
6  x  3  =  18
6  x  4  =  24
6  x  5  =  30
6  x  6  =  36
6  x  7  =  42
6  x  8  =  48
6  x  9  =  54

 Tabuada do  7
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63

 Tabuada do  8
8  x  1  =  8
8  x  2  =  16
8  x  3  =  24
8  x  4  =  32
8  x  5  =  40
8  x  6  =  48
8  x  7  =  56
8  x  8  =  64
8  x  9  =  72

 Tabuada do  9
9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81


Desafio 2)​ Faça um programa que calcule o fatorial de um número inteiro fornecido pelo usuário. Ex.: 5!=5.4.3.2.1=120. A saída deve ser conforme o exemplo abaixo:

*Podemos resolver esse problema com um laco...*

In [0]:
def fatorial(n):
  f = 1
  for i in range(1, n+1, 1):
    f = f * i
  return f

fat_5 = fatorial(5)
print('5! =',fat_5)

5! = 120

*Outra opcao mais elegante eh criar um funcao recursiva, ou seja, uma funcao que chama ela mesma*

In [0]:
def fat(n):
  if (n==0):
    return 1
  else:
    return n * fat(n-1)

fatt_5 = fat(5)
print('5! =',fatt_5)

5! = 120

Desafio 3) Python eh uma das poucas, linguagens que permite receber uma funcao como parametro. Assim gostaria de criar um Calculadora que recebe a operacao a ser realizada, exemplo Soma, junto com os parametros da operacao matematica.

In [0]:
def soma(x,y):
  s = x+y
  return s

def calculadora(f, x, y):
  r = f(x,y)
  return r 

um_mais_dois = calculadora( soma , 1, 2)
print(um_mais_dois)

3