<a href="https://colab.research.google.com/github/lcbjuk/IBMEC/blob/master/IBMEC6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**kNN**

In [6]:
import pandas as pd

from sklearn.neighbors import KNeighborsClassifier

treino = pd.read_csv('https://raw.githubusercontent.com/lcbjuk/ML/master/dados/homem_mulher%20-%20ok.csv')
treino

   SEXO  ALTURA  PESO
0     1     178    72
1     1     179    81
2     2     163    55
3     2     168    58
4     1     181    98
5     2     170    60
6     1     184    78
7     2     171    59

In [7]:
kviz = KNeighborsClassifier(n_neighbors=3)
kviz.fit(treino[['ALTURA','PESO']] , treino['SEXO'])

novos_dados = pd.DataFrame({
    'ALTURA':[175,165],
    'PESO':[75,65]
})

kviz.predict(novos_dados)

array([1, 2])

**Exercicio kNN**

In [8]:
from sklearn.neighbors import KNeighborsClassifier

treino = pd.read_csv('https://raw.githubusercontent.com/lcbjuk/ML/master/dados/RiscoCredito%20-%20okk.csv')
treino

    Inadimplente  Genero  GrauEscolaridade  Profissao  Renda
0              1       1                 4          1    1.4
1              0       2                 7          9    2.6
2              0       1                 7          9    5.8
3              0       1                 7          9    4.7
4              0       1                 7          9    3.9
..           ...     ...               ...        ...    ...
95             1       1                 4          1    2.9
96             1       1                 4          1    1.4
97             0       2                 7          8    2.6
98             0       1                 7          8    5.8
99             0       1                 7          8    4.7

[100 rows x 5 columns]

In [9]:
teste = pd.read_csv('https://raw.githubusercontent.com/lcbjuk/ML/master/dados/RiscoCredito%20-%20prever2.csv')
teste

   Inadimplente  Genero  GrauEscolaridade  Profissao  Renda
0             1       1                 4          1   1.40
1             0       2                 7          9   2.60
2             0       1                 7          9   5.80
3             0       1                 7          9   4.70
4             0       1                 7          9   3.90
5             0       1                 8          9   3.25
6             0       1                 8          8   7.20
7             1       2                 4          3   1.25

In [10]:
kviz = KNeighborsClassifier(n_neighbors=5)
kviz.fit(treino[['Genero',	'GrauEscolaridade',	'Profissao'	,'Renda']] , treino['Inadimplente'])

previsoes = kviz.predict(teste[['Genero',	'GrauEscolaridade',	'Profissao'	,'Renda']])
previsoes

array([1, 0, 0, 0, 0, 0, 0, 1])

In [11]:
matriz = pd.crosstab(teste['Inadimplente'] , previsoes)
matriz

col_0         0  1
Inadimplente
0             6  0
1             0  2