<a href="https://colab.research.google.com/github/lcbjuk/IBMEC/blob/master/IBMEC7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Naive Bayes**

In [1]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB

treino = pd.read_csv('https://raw.githubusercontent.com/lcbjuk/ML/master/dados/JogarVolei%20-%20OKK%20-%20K.csv')
treino

nb = MultinomialNB()
nb.fit(treino[['previsao','temperatura','umidade','vento']] , treino['jogar'])

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [2]:
nublado_tempA_umidA_semvento = pd.DataFrame({
    'previsao':[0],
    'temperatura':[1],
    'umidade':[1],
    'vento':[0]
})

nb.predict(nublado_tempA_umidA_semvento)

array([1])

**Exercicio Bayes**

In [3]:
treino = pd.read_csv('https://raw.githubusercontent.com/lcbjuk/ML/master/dados/RiscoCredito%20-%20okk.csv')
treino.head()

   Inadimplente  Genero  GrauEscolaridade  Profissao  Renda
0             1       1                 4          1    1.4
1             0       2                 7          9    2.6
2             0       1                 7          9    5.8
3             0       1                 7          9    4.7
4             0       1                 7          9    3.9

In [4]:
nb= MultinomialNB()
nb.fit( treino[['Genero',	'GrauEscolaridade',	'Profissao',	'Renda']] , treino['Inadimplente'] )

teste = pd.read_csv('https://raw.githubusercontent.com/lcbjuk/ML/master/dados/RiscoCredito%20-%20prever2.csv')
teste

   Inadimplente  Genero  GrauEscolaridade  Profissao  Renda
0             1       1                 4          1   1.40
1             0       2                 7          9   2.60
2             0       1                 7          9   5.80
3             0       1                 7          9   4.70
4             0       1                 7          9   3.90
5             0       1                 8          9   3.25
6             0       1                 8          8   7.20
7             1       2                 4          3   1.25

In [5]:
previsoes = nb.predict(teste[['Genero',	'GrauEscolaridade',	'Profissao',	'Renda']])
previsoes

array([1, 0, 0, 0, 0, 0, 0, 1])

In [6]:
matriz = pd.crosstab(teste['Inadimplente'] , previsoes)
matriz

col_0         0  1
Inadimplente
0             6  0
1             0  2

In [7]:
acuracia = sum(teste['Inadimplente'] == previsoes) / len(teste)
acuracia

1.0